/* Global Styles */
body {
    font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #063970;
    color: #eab676;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #9E1C3F;
    padding: 20px;
    text-align: center;
    color: #fff;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header .sist {
    font-style: italic; /* Set the font style to italic */
    font-weight: bold; /* Set the font weight to bold */
    color: #DF1C44;
}

header .calculator {
    font-style: italic; /* Set the font style to italic */
    font-weight: bold; /* Set the font weight to bold */
    color: #2196f3;
}

main {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

form div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    flex: 1;
    font-weight: bold;
    color: #eab676;
}

input[type="number"] {
    flex: 2;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #1e88e5;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
    font-size: 18px;
}

input[type="number"]:focus {
    border-color: #999;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

button[type="submit"]:hover {
    background-color: #388e3c;
}

/* Result Box Styling */
.result-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

/* Additional Styling for the Result Elements */
.result {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: calc(50% - 10px);
    background-color: #e0ffff; /* Set background color to whitish silver */
}

/* Additional Styling for the Overall Result Box */
#overallResult {
    width: 100%;
    background-color: #e0ffff; /* Set background color to whitish silver */
}

/* Additional Styling for Headings */
h2 {
    color: #EAEAEA;
}
